<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OpenGOVideo.OpenGOV" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OpenGOVideo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<OpenGOVideo.OpenGOV>
			<setting name="ServerName" serializeAs="String">
				<value/>
			</setting>
			<setting name="Audio" serializeAs="String">
				<value>Default_Audio_Device</value>
			</setting>
			<setting name="Video" serializeAs="String">
				<value>Default_Video_Device</value>
			</setting>
			<setting name="PushRemove" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Template" serializeAs="String">
				<value/>
			</setting>
			<setting name="Videoloc" serializeAs="String">
				<value/>
			</setting>
		</OpenGOVideo.OpenGOV>
	</applicationSettings>
	<userSettings>
		<OpenGOVideo.Properties.Settings>
			<setting name="Audio" serializeAs="String">
				<value>Default_Audio_Device</value>
			</setting>
			<setting name="Video" serializeAs="String">
				<value>Default_Video_Device</value>
			</setting>
			<setting name="Removestream" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Timebcolor" serializeAs="String">
				<value>Blue</value>
			</setting>
			<setting name="TimeFcolor" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="File" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Stream" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="State" serializeAs="String">
				<value>RI</value>
			</setting>
			<setting name="Town" serializeAs="String">
				<value>Saunderstown</value>
			</setting>
			<setting name="Streamserver" serializeAs="String">
				<value>http://higgles.mytestserver.com/joetest</value>
			</setting>
			<setting name="Remove" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="PubTemplate" serializeAs="String">
				<value>Default_State_Town_Organization</value>
			</setting>
			<setting name="Department" serializeAs="String">
				<value>City Council</value>
			</setting>
			<setting name="VideoLocation" serializeAs="String">
				<value/>
			</setting>
			<setting name="Agendalocation" serializeAs="String">
				<value/>
			</setting>
			<setting name="StreamUsername" serializeAs="String">
				<value>joe1</value>
			</setting>
			<setting name="StreamPassword" serializeAs="String">
				<value>password</value>
			</setting>
		</OpenGOVideo.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="StorageServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="32768" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://agenda.mytestserver.com/AgendaServices.asmx" binding="basicHttpBinding" bindingConfiguration="StorageServiceSoap" contract="StorageService.StorageServiceSoap" name="StorageServiceSoap"/>
		</client>
	</system.serviceModel>
	<startup/></configuration>
